


  <div class="container-fluid">
    <div class="header row align-items-center bg-dark py-2">
        <div class="col text-start">
            <!-- project-name -->
            <div class="d-flex align-items-center">
                <img src="assets/circle.png" alt="Circle Icon" class="me-2">
                <span class="text-white">contracts</span>
            </div>
        </div>
        <!-- link to contracts icon -->
        <div class="col text-center">
            <!-- used justify-content-center to render two links in middle of header -->
            <div class="row align-items-center justify-content-center">
                <div class="col-auto">
                    <img src="assets/contracts.png" alt="Contracts Icon" class="me-2">
                    <a class="nav-link text-white" routerLink="/new">plus</a>
                </div>
                <!-- link to new icon -->
                <div class="col-auto">
                    <img src="assets/new.png" alt="New Icon" class="me-2">
                    <a class="nav-link text-white" routerLink="/new">new</a>
                </div>
            </div>
        </div>
        <!-- link to gear icon which it at end of header -->
        <div class="col text-end">
            <div class="d-flex align-items-center justify-content-end">
                <img src="assets/gear.png" alt="Gear Icon" class="me-2">
                <a class="nav-link text-white" routerLink="/new">

  
  